body{
margin:0;
background:white;
color:black;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center; /* Center horizontally */
min-height: 100vh;
}

.page{
max-width:900px;
margin:00px auto;
display:flex;
gap:20px;
align-items:flex-start;
}

.fade-in-illustration {
  height:500px;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 2s ease-in-out forwards; /* Apply the animation */
  
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start from transparent */
  }
  to {
    opacity: 1; /* End as fully opaque */
  }
.fade-in-illustration {
  opacity: 0; /* Initially hidden */
  animation: fadeIn 2s ease-in-out forwards; /* Apply the animation */
}



}




